@import "./variables.scss";
.headline {
  font-size: calc(15px + 3vmin);
  text-align: center;
}

input {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.clickable {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.button {
  padding: 8px 12px;
}

.divider {
  height: 2px;
  width: 90%;
  background-color: $color-accent;
  justify-self: center;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  margin-left: 5%;
}

.hspace {
  width: 5%;
}

.vspace {
  height: 5vh;
}

.onlyPhone {
  @media only screen and (min-width: $tablet-size) {
    display: none;
  }
}

.notPhone {
  @media only screen and (max-width: $tablet-size) {
    display: none;
  }
}

select.invisibleSelect {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: inherit;
  background-color: inherit;
  border: none;
  text-align: center;
  text-align: -webkit-center;
  color: $color-accent;
  width: fit-content;
  text-align-last: center;
}

.scrollable {
  overflow-y: scroll;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scrollable::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
