@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  color: $color-color;
  transition: background-color 0.5s ease-in;
  width: 100vw;
  height: 100vh;
}

.App,
#root {
  min-height: 100vh;
  width: 100%;
  font-size: calc(12px + 2vmin);
  @media only screen and (max-width: $tablet-size) {
    min-height: calc(100vh - 80px);
  }
}
