// Z-index
$z-SlideIn: 100;
$z-onTop: 90;

// Colors
$color-error: #a8201a;
$color-ok: #678e6c;

$color-background: #f5f5f5;
$color-secondary-background: #d6e8ea;
$color-color: #264e70;
$color-accent: #7899d4;
$color-secondary-accent: #fdebd3;
$color-third-accent: #f9b4ab;

$color-inverted-background: #264e70;
$color-inverted-color: #f5f5f5;

// Responsive Sizes
$phone-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;

// Size Values
$content-size: 1200px;
