
// Z-index
$z-SlideIn: 100;


// Colors
$color-error: #A8201A;
$color-good: #678E6C;

$color-background: #E9D2C0;
$color-color: #1F2041;
$color-accent: #7899D4;

$color-one: #B1B6CA;
$color-two: #5DA271;
$color-three: #C84630;
$color-four: #fff5d6;
$color-five: #8D94A5;
$color-six: #774936;

$color-inverted-background: #1F2041;
$color-inverted-color: #E9D2C0;


// Responsive Sizes
$phone-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;

// Size Values
$content-size: 1200px;
